body{
  
  margin: 0 40px 0 40px;
  font-family: 'Open Sans', sans-serif;
  background-size: cover;
  

  
    
}
a{
  color: #FFFFFF;
}
a:hover{
  color: black;
}
.main{
  background-color: rgba(255, 255, 255, 0.788);
  padding-bottom: 150px;
  border-radius: 15px;
  margin-top: 25px;
  padding: 20px;
  
}


.navbar{

    padding: 15px;
}
.brandname{
  color:greenyellow;
  font-size: 2rem;
  font-style: italic;
  font-weight: 800;
}
.nav-item{
  display: inline-block;
  font-size: 1.5rem;
  text-decoration-color: black;
  float: right;
  padding:5px;

}


.nav-list{
  text-decoration: none;
  padding: 0 32px;
}

.button-navbar {
   -webkit-border-radius: 0;
   -moz-border-radius: 20px;
   border-radius: 0;
   height: 10px;
   line-height: 13px;
   color: #FFFFFF;
   font-family: Helvetica;
   width: auto;
   font-size: 17px;
   font-weight: 100;
   padding: 13px;
   background-color: rgba(36, 49, 237, 0.92);
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin : 0 5px;
}

.button-navbar:hover {

   background : #1E62D0;
   border: solid #337FED 0;
   -webkit-border-radius: 0;
   -moz-border-radius: 20px;
   border-radius: 0;
   text-decoration: none;
}

.container-top-content{

  display: inline-block;
  width: 55%;
  
}

.image-top{
  float: right;
  height: 350px;
  margin-top: 50px;
}
.top-para{
  text-decoration: none;
  font-size: 1.3rem;
}
.heading-top{
  font-size: 2.2rem;
  font-weight: 600;
  text-decoration: none;
}
hr{
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
